## Importing packages

In [0]:
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.impute import KNNImputer

Now I will load the data set that is located in the data folder of my project directory.

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
train_path='/content/drive/My Drive/Classification-Competition/data/processed/train.csv'
train_data=pd.read_csv(train_path)
train_data.head()

     id  hi_int_prncp_pd  ...  total_rec_late_fee  verification_status
0  3819                0  ...                 0.0                    1
1  3820                0  ...                 0.0                    0
2  3821                0  ...                 0.0                    1
3  3822                0  ...                 0.0                    1
4  3823                0  ...                 0.0                    1

[5 rows x 36 columns]

Now that I have the data loaded I can clean it up and in order to feed it into xgboost model.

In [0]:
# will first try without using addr_state, purpose and emp_title; naive approach
y_train=train_data['hi_int_prncp_pd'].copy()

x_train_rf=train_data.drop(columns=['addr_state', 'emp_title', 'hi_int_prncp_pd', 'id', 'purpose'])
x_train_rf.head()

   acc_now_delinq  ...  verification_status
0               0  ...                    1
1               0  ...                    0
2               0  ...                    1
3               0  ...                    1
4               0  ...                    1

[5 rows x 31 columns]

In [0]:
x_train_rf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5778 entries, 0 to 5777
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   acc_now_delinq        5778 non-null   int64
 1   acc_open_past_24mths  5778 non-null   int64
 2   annual_inc            5778 non-null   float64
 3   application_type      5778 non-null   object
 4   avg_cur_bal           5778 non-null   int64
 5   bc_util               5778 non-null   float64
 6   delinq_2yrs           5778 non-null   int64
 7   delinq_amnt           5778 non-null   int64
 8   dti                   5778 non-null   float64
 9   earliest_cr_line      5778 non-null   int64
 10  emp_length            5777 non-null   float64
 11  grade                 5778 non-null   object
 12  home_ownership        5778 non-null   object
 13  initial_list_status   5778 non-null   object
 14  int_rate              5778 non-null   float64
 15  last_credit_pull_d    5778 non-null   int64
 16  loan_amnt             5778 non-null   int64
 17  mort_acc              5778 non-null   int64
 18  num_sats              5778 non-null   int64
 19  num_tl_120dpd_2m      5778 non-null   int64
 20  num_tl_90g_dpd_24m    5778 non-null   int64
 21  num_tl_30dpd          5778 non-null   int64
 22  out_prncp_inv         5778 non-null   float64
 23  pub_rec               5778 non-null   int64
 24  pub_rec_bankruptcies  5778 non-null   int64
 25  sub_grade             5778 non-null   object
 26  term                  5778 non-null   int64
 27  tot_coll_amt          5778 non-null   int64
 28  tot_cur_bal           5778 non-null   int64
 29  total_rec_late_fee    5778 non-null   float64
 30  verification_status   5778 non-null   int64
dtypes: float64(7), int64(19), object(5)
memory usage: 1.4+ MB

Setting up a pipeline to one hot encode variables to feed into XGBoost

In [0]:
# splitting up the variables based on type
num_attribs=list(x_train_rf.select_dtypes(include=['int64', 'float64']))
cat_attribs=list(x_train_rf.select_dtypes(include=['object']))

In [0]:
knn_impute=KNNImputer(n_neighbors=5)

full_pipeline=ColumnTransformer([
    ('num', knn_impute, num_attribs),
    ('cat', OneHotEncoder(), cat_attribs)
])

Preparing the data

In [0]:
x_train_prepared=full_pipeline.fit_transform(x_train_rf)
pd.DataFrame(x_train_prepared).head()

    0    1         2       3     4    5   ...   70   71   72   73   74   75
0  0.0  2.0   21120.0  3662.0  86.1  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  3.0   32400.0  2973.0  30.2  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  3.0   30251.0  1983.0  46.2  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0   66976.0  1638.0  77.4  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  2.0  125000.0   577.0   0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 76 columns]

In [0]:
# !pip install -q xgboost==1.1.0      # ----necessary to install latest version----

     |████████████████████████████████| 127.6MB 106kB/s

In [0]:
import xgboost as xgb

In [0]:
xgb.__version__

'1.1.0'

In [0]:
# will use this to tune the boosted tree model
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import uniform, randint
from xgboost.sklearn import XGBClassifier

Doing random parameter search using RandomizedGridSearch

In [0]:
boosted_estimator=XGBClassifier(objective='binary:logistic',
                                tree_method='gpu_hist',
                                gpu_id=0,
                                random_state=402)

In [0]:
# creating a dictionary that has the space that will be searched over
parameters={'max_depth': randint(2, 6), # default 3
            'colsample_bytree': uniform(0.7, 0.3),
            'gamma': uniform(0, 0.5), # it is fine to set it to 0
            'learning_rate': uniform(0.03, 0.3), # default 0.1 
            'n_estimators': randint(100, 150), # default 100 trees
            'subsample': [0.6, 0.7, 0.8]}

In [0]:
estimator_search=RandomizedSearchCV(boosted_estimator,
                                    param_distributions=parameters,
                                    n_iter=200,
                                    scoring='accuracy',
                                    cv=10)

In [0]:
# testing for GPU connection
# import tensorflow as tf
# tf.test.gpu_device_name()

'/device:GPU:0'

In [0]:
%time estimator_search.fit(x_train_prepared, y_train)

CPU times: user 8min 18s, sys: 2min 55s, total: 11min 14s
Wall time: 11min 18s

RandomizedSearchCV(cv=10, error_score=nan,
                   estimator=XGBClassifier(base_score=None, booster=None,
                                           colsample_bylevel=None,
                                           colsample_bynode=None,
                                           colsample_bytree=None, gamma=None,
                                           gpu_id=0, importance_type='gain',
                                           interaction_constraints=None,
                                           learning_rate=None,
                                           max_delta_step=None, max_depth=None,
                                           min_child_weight=None, missing=nan,
                                           monotone_constraints=None,
                                           n_e...
                                        'learning_rate': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f58c0df4630>,
                                        'max_depth': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f58c0ddcdd8>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f58c0df4898>,
                                        'subsample': [0.6, 0.7, 0.8]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring='accuracy', verbose=0)

In [0]:
estimator_search.best_estimator_

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.867296867206786,
              gamma=0.4087139515691656, gpu_id=0, importance_type='gain',
              interaction_constraints='', learning_rate=0.0313900047678075,
              max_delta_step=0, max_depth=5, min_child_weight=1, missing=nan,
              monotone_constraints='(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0)',
              n_estimators=109, n_jobs=0, num_parallel_tree=1,
              objective='binary:logistic', random_state=402, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=0.7,
              tree_method='gpu_hist', validate_parameters=1, verbosity=None)

In [0]:
tuned_xgb=estimator_search.best_estimator_

In [0]:
test_path='/content/drive/My Drive/Classification-Competition/data/processed/test.csv'

test_data=pd.read_csv(test_path)
test_data.head()

   id  acc_now_delinq  ...  total_rec_late_fee verification_status
0   1               0  ...                 0.0                   1
1   2               0  ...                 0.0                   0
2   3               0  ...                 0.0                   1
3   4               0  ...                 0.0                   0
4   5               0  ...                 0.0                   0

[5 rows x 35 columns]

In [0]:
test_data_dropped=test_data.drop(columns=['addr_state', 'emp_title', 'id', 'purpose'])
test_data_dropped

      acc_now_delinq  ...  verification_status
0                  0  ...                    1
1                  0  ...                    0
2                  0  ...                    1
3                  0  ...                    0
4                  0  ...                    0
...              ...  ...                  ...
3813               0  ...                    1
3814               0  ...                    1
3815               0  ...                    1
3816               0  ...                    0
3817               0  ...                    1

[3818 rows x 31 columns]

In [0]:
test_data_prepared=full_pipeline.transform(test_data_dropped)
pd.DataFrame(test_data_prepared).head()

    0     1         2        3     4    5   ...   70   71   72   73   74   75
0  0.0  10.0   45000.0   3125.0  40.6  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0   1.0   40000.0   1534.0  26.6  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0   1.0  113000.0  49748.0  82.6  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0   6.0  105000.0  42642.0  81.8  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0   9.0   80000.0   4766.0  52.2  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 76 columns]

In [0]:
predictions=tuned_xgb.predict(test_data_prepared)
predictions=pd.DataFrame(predictions).rename(columns={0:'Category'})
predictions.head()

   Category
0         0
1         0
2         0
3         0
4         0

In [0]:
observation_id=test_data['id'].copy()
pd.DataFrame(observation_id).rename(columns={'id':'Id'})

        Id
0        1
1        2
2        3
3        4
4        5
...    ...
3813  3814
3814  3815
3815  3816
3816  3817
3817  3818

[3818 rows x 1 columns]

In [0]:
submission=pd.concat([observation_id, predictions], axis='columns')
submission

        id  Category
0        1         0
1        2         0
2        3         0
3        4         0
4        5         0
...    ...       ...
3813  3814         1
3814  3815         0
3815  3816         1
3816  3817         1
3817  3818         1

[3818 rows x 2 columns]

In [0]:
drive_path='/content/drive/My Drive/Classification-Competition/data/predictions/xgb_predictions.csv'
submission.to_csv(drive_path, index=False)

In [0]:
estimator_search.best_score_

0.91658111098451

In [0]:
accuracy_score(y_train, tuned_xgb.predict(x_train_prepared))

0.9323295257874697